<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					
				</div>
				<div class="col-sm-7">
					<h2 class="or">USUARIOS</h2>
				</div>
				<div class="col-sm-8">
					<div class="signup-form"><!--sign up form-->
						<h2>REGISTRO USUARIOS!</h2>
						<form action="#">
							<input type="text" placeholder="Name"/>
							<input type="email" placeholder="Email Address"/>
							<input type="password" placeholder="Password"/>
							<button type="submit" class="btn btn-default">REGISTRAR</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->